/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

//***** Begin Theme, feel free to edit in here! ******

// One container to bind them...
.dk_container {
	background-color: #f5f5f5;
	padding: 20px 50px 20px 20px;
	max-width: 400px;
	max-width: 500px;
	text-align: left;
	display: inline-block !important;
  &:focus {
    outline: 0;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
}

// Opens the dropdown and holds the menu label
.dk_toggle {
  position: relative;
  width: 100% !important;
  display: block;
  
  
  &:after{
    position: absolute;
    top: 45%;
    right: -35px;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4B4B4B;
  }
}
/* Applied when the dropdown is focused */
.dk_focus{
  .dk_toggle {
/*     border-color: #40b5e2; */
/*     box-shadow: 0 0 5px #40b5e2; */
/*     -moz-box-shadow: 0 0 5px #40b5e2; */
/*     -webkit-box-shadow: 0 0 5px #40b5e2; */
  }
}

/* Applied whenever the dropdown is open */
.dk_open {
/*   box-shadow: 0 0 5px #40b5e2; */
/*   -moz-box-shadow: 0 0 5px #40b5e2; */
/*   -webkit-box-shadow: 0 0 5px #40b5e2; */
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
  .dk_toggle {
    background-color: #ececec;
    border-color: #8c8c8c;
    color: #ccc;
    box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
  }
}

/* The outer container of the options */
.dk_options {
  background: #fefefe; /* Removes transparent background on iOS5+ scroll */
	border: 2px solid #757575;
  a {
    background-color: #fff;
/*     border-bottom: 1px solid #999; */
/*     font-weight: bold; */
    padding: 8px 15px;
    line-height: 44px;
  }
  
  a:hover,
  .dk_option_current a {
    background-color: #F16D76;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
  }
  li:last-child a {
    border-bottom: none;
  }
  .disabled {
    cursor: default;
    a {
      color: #aaa;
    }
    &:hover, &:hover a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;
      text-shadow: none;
    }
  }
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
/*   max-height: 250px; */
  color: #333;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
/*   float: left; */
  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
/*   width: 100%; */
  a, a:link, a:visited{
    display: block;
  }
}

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}


/* Hides only dropkick <select> instances */
.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden;
}

/*  nativeMobile override */
.dk_mobile {
  position: relative;
  select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
